@import './assets/styles/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Grandstander', cursive;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-background-light: #f9fafb;
  --color-text: #e2e8f0;
  --color-text-muted: #94a3b8;
  --font-sans: 'gg sans', sans-serif;
  --font-display: 'Grandstander', sans-serif;
}

.font-grandstander {
    font-family: var(--font-display);
}

body {
    background-color: var(--color-background);
}

