@font-face {
  font-family: 'Grandstander';
  src: url('../fonts/Grandstander-clean.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'gg sans';
  src: url('../fonts/gg sans Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 